## ---------------------------
##
## Script name: fecd_isoseq.config
##
## Purpose of script: Config file 
##
## Author: Szi Kay Leung
##
## Date Created: 02-08-2022
##
## Email: sl693@exeter.ac.uk
##
## ---------------------------
##
## Notes:
## ---------------------------

## ---------------------------

## Output name and relevant info
export NAME=Fecd
export SPECIES=hg38

## Output root directory filepath (ensure path exists)
export WKD_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/Collabs/UCL_FECD


## ---------------------------

## Source functions and scripts directory 
export SC_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/UCL_FECD
export GENERALFUNC=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/General
export TAMAFUNC=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/General/2_Transcriptome_Annotation/TAMA
export LOGEN=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/LOGen


## ---------------------------

## Reference 
export REFERENCE=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/references
export GENOME_FASTA=$REFERENCE/human/hg38.fa
export GENOME_GTF=$REFERENCE/annotation/gencode.v40.annotation.gtf

# Primers and Probes
export FASTA=$REFERENCE/Primers/primer.fasta

## ---------------------------

## Long read data (Iso-Seq)
SAMPLE_CONFIG=$SC_ROOT/1_IsoSeq_Pipeline/fecd_samples.tsv
export SAMPLE_NAMES=($(grep "^[^#;]" $SAMPLE_CONFIG | awk '{print $1}'))
export BAM_FILES=($(grep "^[^#;]" $SAMPLE_CONFIG | awk '{print $2}'))


## ---------------------------

## Software 
export SOFTDIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/software

export CUPCAKE=$SOFTDIR/Post_Isoseq3/cDNA_Cupcake
export ANNOTATION=$CUPCAKE/annotation
export SEQUENCE=$CUPCAKE/sequence
export PYTHONPATH=$PYTHONPATH:$SEQUENCE
export SQANTI2_dir=$SOFTDIR/Post_Isoseq3/SQANTI2
export SQANTI3_DIR=$SOFTDIR/SQANTI3
export SQ_Report=$SOFTDIR/Post_Isoseq3/SQANTI2/utilities/SQANTI_report2.R
export TAPPAS_dir=$SOFTDIR/TAPPAS
export TAMA_DIR=$SOFTDIR/tama/tama_go/filter_transcript_models

## ---------------------------

## Software input files
# SQANTI3 input files
CAGE_PEAK=$SQANTI3_DIR/data/ref_TSS_annotation/human.refTSS_v3.1.hg38.bed
POLYA=$SQANTI3_DIR/data/polyA_motifs/mouse_and_human.polyA_motif.txt
GFF3=$TAPPAS_dir/Homo_sapiens_GRCh38_Ensembl_86.gff3


## ---------------------------

## Internal Scripts 
DEMUXFUNCTIONS=$GENERALFUNC/2_Transcriptome_Annotation/Demultiplex_Cupcake.R
TAMAMERGE=$TAMAFUNC/TAMA_Merge_Prepare.R
TAMASUBSET=$GENERALFUNC/2_Transcriptome_Annotation/TAMA/tama_sqanti_classgtfsubset.R
TAMASUBSETFASTA=$GENERALFUNC/2_Transcriptome_Annotation/TAMA/tama_sqanti_fastasubset.py
ISMREMOVE=$GENERALFUNC/2_Transcriptome_Annotation/3ISM_remove_classification.R
SQSUBSET=$GENERALFUNC/2_Transcriptome_Annotation/sqanti_classgtfsubset.R
SQCOUNT=$GENERALFUNC/2_Transcriptome_Annotation/subset_casecontrol_by_counts.R
SQCOUNT_SAMPLE=$GENERALFUNC/2_Transcriptome_Annotation/subset_sample_by_counts.R
ISOCOL=$GENERALFUNC/2_Transcriptome_Annotation/colour_common_targeted_transcripts.py
EXTRACTPAF=$GENERALFUNC/0_General_py/extract_isoseq_mappedtranscripts.py

cd $WKD_ROOT
mkdir -p 1_ccs 2_lima 3_refine 4_cluster 5_merged_cluster 6_minimap 7_tofu 8_sqanti3 9_subset 10_characterisation
mkdir -p 10_characterisation/1_TCF
